# Fichiers de données volumineux - IMPORTANT
*.nc
*.csv
data/
*/data/
backend*climatique/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Docker
*.dockerignore
